# Frontend
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend (Laravel)
backend/vendor
backend/node_modules
backend/.env
backend/storage/*.key
backend/.phpunit.result.cache
backend/storage/app/public/assignment-materials/*
backend/storage/app/public/submissions/*
backend/storage/app/public/teacher-request-documents/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/bootstrap/cache/*
backend/database/*.sqlite

# Misc
.DS_Store
*.log
